{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg'); height:110vh;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <div class="site-heading">
                            <h1>{{params['blog_name']}}</h1>
                            <span class="subheading">{{params['sub_name']}}</span>
                        </div>
                        <div class="container">
                            <div class="row height d-flex justify-content-center align-items-center">
                                <div class="col-md-8">
                                    <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" id="searchbox" placeholder="Search for Language"> <button onclick="gotolanguage()" class="btn btn-primary">Search</button></div>
                                </div>
                                <button onclick="showallLanguage()" style="width: 300px; border-radius: 50px;" type="button" class="btn btn-outline-success">Show All Languages</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <link rel="stylesheet" href="{{url_for('static',filename = '/css/HomeCustom.css')}}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

        <!--not completed yet-->
        <script>
            $(document).ready(()=>{
                fetch("/searchapi").then(res=>{
                    res.text().then((val)=>{
                        let all_language = []
                        let jsonval = JSON.parse(val)
                        for (let x in jsonval){
                            all_language.push(jsonval[x])
                        }
                        $("#searchbox").on("input",(e)=>{
                            console.log($("#searchbox").val())
                        })
                    })
                })
            })
            // function for buttons
            function gotolanguage(){
                let lan = $("#searchbox").val()
                window.location.href = `/language/${lan}`
            }
            function showallLanguage(){
                window.location.href = `/language/all`
            }
        </script>



{% endblock %}

        
